@using RoadTrip.Models;
@using System.Collections.Generic;

<h1>Road Trip Items</h1>

<p>Gas Tank Level: @Model.GasTank</p>
<p>Roadside Assistance: @Model.RoadSideAsst</p>
<p>Music Playlists: @Model.Music</p>
<p>Snacks On Board: @Model.Snacks</p>
<p>Map: @Model.Map</p>

  


<a href="/items/new">Add More Here</a>

<a href="/">Home</a>
